<a href="https://colab.research.google.com/github/Dhapor/FoodBalanceSheets_E_Africa_NOFLAG/blob/main/INTERMEDIATE_PRELIM_TEST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [137]:
import pandas as pd

data = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG - FoodBalanceSheets_E_Africa_NOFLAG.csv.csv', encoding = 'latin-1')
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [148]:
# What is the mean and standard deviation across the whole dataset for the year 2015 to 2 decimal places?
mean = data.Y2015.mean()
standard_deviation = data.Y2015.std()
print(f"The mean across the whole dataset for the year 2015 to 2 decimal places = {mean:.2f}")
print(f"The standard deviation across the whole dataset for the year 2015 to 2 decimal places = {standard_deviation:.2f}")

The mean across the whole dataset for the year 2015 to 2 decimal places = 135.24
The standard deviation across the whole dataset for the year 2015 to 2 decimal places = 1603.40

In [139]:
# Answer the following questions based on the African food production dataset provided by the FAO website already provided
# What is the total sum of Wine produced in 2015 and 2018 respectively?

wine_in_2015 = data.loc[data['Item'] == 'Wine', 'Y2015'].sum()
wine_in_2018 = data.loc[data['Item'] == 'Wine', 'Y2018'].sum()

print(f"The total sum of Wine produced in 2015 = {wine_in_2015}")
print(f"The total sum of Wine produced in 2018 = {wine_in_2018}")

The total sum of Wine produced in 2015 = 4251.8099999999995
The total sum of Wine produced in 2018 = 4039.3199999999997

In [150]:
# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Production in 2014?
# df = data[['Element', 'Y2014']]
# needed = df.groupby('Element')['Y2014'].sum()
# needed.sum()
# needed
production = data[(data['Element'] == 'Production')]
production.groupby('Element')['Y2014'].sum()

Element
Production    1931287.75
Name: Y2014, dtype: float64

In [141]:
# What is the total number of unique countries in the dataset?
data['Area'].nunique()

49

In [142]:
# Which of these elements had the highest sum in 2018?
Elements = data[(data['Element'] == 'Domestic supply quantity') | (data['Element'] == 'Export Quantity') | (data['Element'] == 'Import Quantity') | (data['Element'] == 'Food')]
Elements = Elements.groupby('Element')[['Y2018']].sum().idxmax()
Elements

Y2018    Domestic supply quantity
dtype: object

In [143]:
# What is the total number and percentage of missing data in 2016 to 3 decimal places?
missing_data_2016 = data['Y2016'].isnull().sum()
total_entries = data.shape[0]
percentage_of_missing_data_2016 = (missing_data_2016 / data.shape[0]) * 100
print(f"The total number of missing data in 2016 to 3 decimal places = {missing_data_2016: .3f}")
print(f"The total percentage of missing data in 2016 to 3 decimal places = {percentage_of_missing_data_2016: .3f}")

The total number of missing data in 2016 to 3 decimal places =  1535.000
The total percentage of missing data in 2016 to 3 decimal places =  2.519

In [144]:
# What is the mean and standard deviation across the whole dataset for the year 2015 to 2 decimal places?
mean = data.Y2015.mean()
standard_deviation = data.Y2015.std()
print(f"The mean across the whole dataset for the year 2015 to 2 decimal places = {mean:.2f}")
print(f"The standard deviation across the whole dataset for the year 2015 to 2 decimal places = {standard_deviation:.2f}")

The mean and standard deviation across the whole dataset for the year 2015 to 2 decimal places = 135.24
The mean and standard deviation across the whole dataset for the year 2015 to 2 decimal places = 1603.40

In [155]:
# What is the total Import Quantity in Algeria in 2018?
df = data[(data['Element'] == 'Import Quantity') & (data['Area'] == 'Algeria')]
needed = df.groupby(['Element', 'Area'])['Y2018'].sum()
needed

Element          Area
Import Quantity  Algeria    36238.29
Name: Y2018, dtype: float64

In [162]:
# Which of these elements had the highest sum in 2018?
Elements_highest_sum = data[(data['Element'] == 'Protein supply quantity (g/capita/day)') | (data['Element'] == 'Tourist consumption') | (data['Element'] == 'Fat supply quantity (g/capita/day)') | (data['Element'] == 'Stock Variation')]
answer = Elements_highest_sum.groupby('Element')[['Y2018']].sum().idxmax()
answer

Y2018    Stock Variation
dtype: object

In [159]:
data.corr()['Element Code'].drop('Element Code').sort_values(ascending=False)

<ipython-input-159-f1bcebc6be56>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()['Element Code'].drop('Element Code').sort_values(ascending=False)

Y2014        0.024457
Y2018        0.024279
Y2017        0.024254
Y2015        0.023889
Y2016        0.023444
Area Code   -0.000209
Item Code   -0.024683
Name: Element Code, dtype: float64